article.list-product-ind {
	position: relative;
}

article.list-product-ind .card {
	padding: 0;
	overflow: hidden;
}

article.list-product-ind .card .card-body {
	padding: 0;
	overflow: hidden;
}

article.list-product-ind .card .card-body h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.1em;
	text-align: left;
}

article.list-product-ind .card .card-body .card-image {
	padding: 0;
	position: relative;
	overflow: hidden;
}

article.list-product-ind .card .card-body .card-image img {
	cursor: pointer;

	transform: scale(1);

	transition: all .2s ease-out;
}

article.list-product-ind .card .card-body .card-counter {
	padding: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 2;

	transform: translateY(52px);
	transition: all .2s ease-out;
}

.list-product-ind .card .card-footer {
	margin: 8px 0 0;
	padding: 0;
}

article.list-product-ind:hover {

	transition: all .2s ease-out;
}

article.list-product-ind:hover .card .card-body img {
	transform: scale(1.05);

	transition: all .2s ease-out;
}

article.list-product-ind:hover .card .card-body .card-counter {
	transform: translateY(0px);
	transition: all .2s ease-out;
}